:root {
  /* COLOR VARIABLES */
  --primary_color: #fffcf5;
  --secondary_color: #626262;
  --dark_text: #000;
  --link_hover: #e9283f;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --test: 550;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #fffcf5;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/Archivo-Light.ttf");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/Archivo-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/Archivo-Medium.ttf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
/*  */

/* DEFAULT STYLES */
* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  font-weight: var(--light);
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: var(--primary_color);
  user-select: none;
}

body {
  overflow-x: hidden;
  margin: 0 9%;
}

.header,
.about,
.vertical__slider-container,
.projects,
.vision,
.customers,
.footer {
  max-width: 1560px;
}

/* HEADER */
.header {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 175px auto;
}

.header__nav {
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-links {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.header__nav-link {
  font-size: 24px;
  transition: 0.3s ease-in;
  position: relative;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s ease-in;
}

.header__nav-link:hover::after {
  background-color: black;
}

.header__img {
  height: 650px;
  display: block;
  margin: 0 auto;
}

.header__texts {
  padding: 35px 0 45px 0;
}

.header__title {
  font-size: 64px;
  font-weight: var(--regular);
  text-align: center;
  padding-bottom: 10px;
}

.header__subtitle {
  font-size: 32px;
  font-weight: var(--regular);
  color: var(--secondary_color);
  text-align: center;
}

.about {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/about__img.svg");
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  margin: 0 auto 150px auto;
}

.about__text-one,
.about__text-two {
  font-size: 24px;
  line-height: 130%;
  background: none;
}

.about__text-one {
  width: 31rem;
}

.about__text-two {
  width: 30rem;
  padding-bottom: 65px;
  align-self: flex-end;
}

.vertical__slider-container {
  position: relative;
  margin: 0 auto 150px auto;
}

.vertical__slider-wrapper {
  height: 100vh !important;
  height: 100svh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  text-align: center;
  padding: 65px 0 75px 0;
}

.fieldsOfOperation__title,
.expertise__title,
.services__title {
  font-size: 40px;
  font-weight: var(--medium);
}

.fieldOfOperation__texts,
.expertise__texts,
.services__texts-wrapper {
  display: flex;
  flex-direction: column;
}

.fieldOfOperation__texts p {
  font-size: 40px;
}

.expertise__texts p {
  font-size: 32px;
}

.services__texts-wrapper p {
  font-size: 28px;
}

.fieldOfOperation__texts,
.expertise__texts {
  gap: 70px;
}

.services__texts-wrapper {
  gap: 20px;
}

.bottom__text {
  font-size: 32px;
  font-weight: var(--regular);
}

.custom-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  gap: 15px;
  top: 52vh;
  top: 52svh;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-dots .dot {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-dots .dot.active {
  background-color: #000;
}

.custom-dots-horizontal {
  display: none;
}

.custom-dots-horizontal .dot {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-dots-horizontal .dot.active {
  background-color: #000;
}

.projects {
  height: 100vh;
  height: 100svh;
  margin: 0 auto;
}

.projects__title {
  font-size: 40px;
  font-weight: var(--medium);
  text-align: center;
  padding: 65px 0 70px 0;
}

.slider {
  height: auto;
  overflow: hidden;
}

.slider img {
  height: auto;
}

.slide-desc {
  text-align: left;
}

.slider .slick-slide {
  margin-right: 20px;
}

.slide-desc h3,
p {
  font-size: 24px;
}

.slide-desc h3 {
  margin-top: 1.5rem;
}

.slide-desc p {
  margin-top: 0.9rem;
}

.project__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: right;
  align-items: center;
  margin-top: 30px;
  position: relative;
  right: 22px;
}

#button1,
#button2 {
  cursor: pointer;
  transition: 0.3s;
}

.projects__mobile {
  display: none;
}

.vision {
  height: 100vh;
  height: 100svh;
  margin: 250px auto 0 auto;
}

.vision__title {
  font-size: 40px;
  font-weight: var(--medium);
  text-align: center;
  padding-bottom: 10rem;
}

.vision__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.vision__passion,
.vision__collaboration,
.vision__integrity {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
}

.vision__passion h2,
.vision__collaboration h2,
.vision__integrity h2 {
  font-size: 32px;
  font-weight: var(--medium);
}

.vision__passion p,
.vision__collaboration p,
.vision__integrity p {
  font-size: 32px;
  font-weight: var(--light);
  text-align: center;
}

.vision__passion {
  width: 21rem;
}

.vision__collaboration {
  width: 24rem;
}

.vision__integrity {
  width: 22rem;
}

.customers {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.customers__title {
  font-size: 40px;
  font-weight: var(--medium);
  padding-bottom: 165px;
}

.customers__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 249px;
  row-gap: 6rem;
}

.customers__wrapper picture:not(#schlumberger):not(#kawasaki):not(#socar) {
  align-self: flex-end;
  justify-self: center;
}

#schlumberger,
#kawasaki,
#socar {
  justify-self: center;
  align-self: center;
}

.footer {
  margin: 0 auto;
  margin-top: 200px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts p {
  font-size: 24px;
}

.footer__logo {
  width: 135px;
}

.footer__rights {
  text-align: center;
  margin: 100px 0 45px 0;
}

.footer__rights p {
  font-size: 24px;
}
